
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-baseclock-default-clock-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-basedisplay-default-dht-sensor-temperature .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-dht-sensor-temperature .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-dht-sensor-temperature .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-dht-sensor-temperature .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-dht-sensor-temperature .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-dht-sensor-temperature .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-dht-sensor-humidity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-dht-sensor-humidity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-dht-sensor-humidity .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-dht-sensor-humidity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-dht-sensor-humidity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-dht-sensor-humidity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-load-1m .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-load-1m .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-load-1m .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-load-1m .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-load-1m .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-load-1m .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-disk-free .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-disk-free .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-disk-free .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-disk-free .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-disk-free .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-disk-free .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-cpu-temp .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-cpu-temp .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-cpu-temp .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-cpu-temp .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-cpu-temp .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-cpu-temp .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-front-door-lock {
	position: relative;
}

.widget-baseswitch-default-input-boolean-front-door-lock .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-front-door-lock .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-front-door-lock .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-front-door-lock .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-front-door-lock .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baselight-default-light-salt-lamp {
	position: relative;
}

.widget-baselight-default-light-salt-lamp .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-salt-lamp .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-salt-lamp .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-salt-lamp .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-salt-lamp .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-salt-lamp .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-salt-lamp .level {
	display: inline-block;
}

.widget-baselight-default-light-salt-lamp .unit {
	display: inline-block;
}

.widget-baselight-default-light-salt-lamp .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-salt-lamp .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-salt-lamp .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-salt-lamp .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-salt-lamp .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-salt-lamp .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-lounge-curtain-light {
	position: relative;
}

.widget-baselight-default-light-lounge-curtain-light .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-lounge-curtain-light .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-lounge-curtain-light .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-lounge-curtain-light .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-lounge-curtain-light .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-lounge-curtain-light .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-lounge-curtain-light .level {
	display: inline-block;
}

.widget-baselight-default-light-lounge-curtain-light .unit {
	display: inline-block;
}

.widget-baselight-default-light-lounge-curtain-light .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-lounge-curtain-light .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-lounge-curtain-light .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-lounge-curtain-light .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-lounge-curtain-light .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-lounge-curtain-light .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-input-boolean-nathan-lamp-switch {
	position: relative;
}

.widget-baseswitch-default-input-boolean-nathan-lamp-switch .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-nathan-lamp-switch .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-nathan-lamp-switch .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-nathan-lamp-switch .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-nathan-lamp-switch .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baselight-default-light-bar-light {
	position: relative;
}

.widget-baselight-default-light-bar-light .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-bar-light .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-bar-light .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-bar-light .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-bar-light .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-bar-light .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-bar-light .level {
	display: inline-block;
}

.widget-baselight-default-light-bar-light .unit {
	display: inline-block;
}

.widget-baselight-default-light-bar-light .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-bar-light .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-bar-light .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-bar-light .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-bar-light .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-bar-light .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-light-reading-light {
	position: relative;
}

.widget-baselight-default-light-reading-light .state_text {
	font-size: 85%;
}

.widget-baselight-default-light-reading-light .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-light-reading-light .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-light-reading-light .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-light-reading-light .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-light-reading-light .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-light-reading-light .level {
	display: inline-block;
}

.widget-baselight-default-light-reading-light .unit {
	display: inline-block;
}

.widget-baselight-default-light-reading-light .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-light-reading-light .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-light-reading-light .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-light-reading-light .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-light-reading-light .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-light-reading-light .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-switch-christmas-tree {
	position: relative;
}

.widget-baseswitch-default-switch-christmas-tree .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-switch-christmas-tree .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-switch-christmas-tree .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-switch-christmas-tree .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-switch-christmas-tree .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-switch-workshop-power {
	position: relative;
}

.widget-baseswitch-default-switch-workshop-power .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-switch-workshop-power .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-switch-workshop-power .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-switch-workshop-power .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-switch-workshop-power .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basejavascript-default-reload .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-reload .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-reload .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-reload .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
